@model HomeViewModel
<div id="carouselExampleIndicators" class="carousel slide container-fluid">
    <div class="carousel-indicators">
        @{
            int counter = 0; // Farklı bir değişken adı kullanılıyor
            foreach (var item in Model.Categories)
            {
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="@counter"
                    class="@(counter == 0 ? "active" : "")" aria-current="true" aria-label="Slide @counter"></button>
                ;
                counter++;
            }
        }
    </div>
    <div class="carousel-inner">
        @{
            int index = 0;
            foreach (var item in Model.Categories)
            {
                <div class="carousel-item @(index == 0 ? "active" : "")">
                    <a asp-controller="Categories" asp-action="Index">
                        <img src="@item.Image" class="d-block w-100" alt="..." style="height: 550px; object-fit:cover">

                        <div class="carousel-caption d-none d-md-block">
                            <h5>@item.Name</h5>
                        </div>
                    </a>
                </div>
                index++;
            }
        }
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<div class="container my-5">
    @* <div class="row">
        <div class="col-12 mb-3">
            <h2>Kategoriler</h2>
        </div>
        @foreach (var item in Model.Categories)
        {
            <div class="col-3 mb-3">
                <div class="card">
                    <img src="@item.Image" class="card-img-top" style="height: 175px;" alt="...">
                    <div class="card-body">
                        <h5 class="card-title text-center">@item.Name</h5>
                    </div>
                </div>
            </div>
        }
    </div> *@

    <div class="row mt-5">
        <h2 class="text-dark">Ürünler</h2>
        @foreach (var item in Model.Products)
        {
            <div class="col-3">
                <div class="card mb-3">
                    <img src="@item.Image" class="card-img-top" alt="..." style="height: 170px;">
                    <div class="card-body">
                        <a href="products/details/@item.Url" class="text-secondary text-decoration-none">
                            <h5 class="card-title">@item.Name</h5>
                        </a>
                    </div>
                </div>
            </div>

        }
    </div>
    <div class="btn btn-primary">
        DaisyUI Butonu
    </div>

</div>
