@model Product

<div class="breadcrumbs text-sm">
  <ul>
    <li><a asp-controller="Home" asp-action="Index">Home</a></li>
    <li><a href="/Categories/Index">@Model.SubCategory?.Category?.Name</a></li>
    <li><a href="/Categories/Index">@Model.SubCategory?.Name</a></li>
    <li>@Model.Name</li>
  </ul>
</div>


<div class="flex flex-row m-[75px]">

  <div>
    <!--Product image -->
    <div class="card bg-base-100 w-[550px] shadow-xl bg-[#660099] me-[125px]">
      <figure class="px-10 py-10 flex items-center">
        <div class="">
          <img src="~/image/@Model.Image" alt="@Model.Name" class="rounded-xl" />
        </div>
      </figure>
    </div>
  </div>

  <div class="divider divider-horizontal">Details</div>

  <!-- Product Name -->
  <div class="ms-[100px]">
    <div class="col-lg-6 ps-5" id="@Model.Id">

      <div class="d-flex flex-column">
        <div class=" border-bottom pb-4">
          <h1 class="fw-bold mb-3 font-bold">@Model.Name</h1>
          <h5 class="my-3 badge p-2 bg-gray-200 text-gray-500">@Model.SubCategory?.Category?.Name</h5>
          <h5 class="my-3 badge p-2 bg-gray-200 text-gray-500">@Model.SubCategory?.Name</h5>
        </div>
        <div class="border-bottom pb-5">
          <span>@Model.Description</span>
        </div>


        <div class="overflow-x-auto">
          <table class="table">
            <tbody>
              <tr>
                <td>Product Code:</td>
                <td>@Model.Id</td>
              </tr>
              <tr>
                <td>Price:</td>
                <td>@Model.Price</td>
              </tr>
              <tr>
                <td>Store:</td>
                <td>@Model.Store</td>
              </tr>
              <tr>
                <td>Star:</td>
                <td>@Model.Star</td>
              </tr>
              <tr>
                <td>State:</td>
                <td>@(Model.State ? "Al覺nd覺" : "Al覺nmad覺")</td>
              </tr>
              <tr>
                <td><a class="btn btn-sm" href="@Model.Link">Web sitesine git</a></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

</div>