@model ProductViewModel

<div class="breadcrumbs text-sm">
  <ul>
    <li><a asp-controller="Home" asp-action="Index">Home</a></li>
    <li><a href="/Categories/Index">@Model.Product.SubCategory?.Category?.Name</a></li>
    <li><a href="/Categories/Index">@Model.Product.SubCategory?.Name</a></li>
    <li>@Model.Product.Name</li>
  </ul>
</div>

<div class="contianer wx-auto px-32">

  <div class="flex flex-row mt-5">

    <div class="flex items-center">
      <!--Product image -->
      <div class="card bg-base-100 w-[450px] shadow-xl bg-[#660099] me-[125px]">
        <figure class="px-10 py-10 flex items-center">
          <div class="">
            <img src="~/image/@Model.Product.Image" alt="@Model.Product.Name" class="rounded-xl" />
          </div>
        </figure>
      </div>
    </div>

    <div class="divider divider-horizontal">Details</div>

    <!-- Product Name -->
    <div class="ms-[100px]">
      <div class="col-lg-6 ps-5" id="@Model.Product.Id">

        <div class="d-flex flex-column">
          <div class=" border-bottom pb-4">
            <h1 class="fw-bold mb-3 font-bold">@Model.Product.Name</h1>
            <h5 class="my-3 badge p-2 bg-gray-200 text-gray-500">@Model.Product.SubCategory?.Category?.Name</h5>
            <h5 class="my-3 badge p-2 bg-gray-200 text-gray-500">@Model.Product.SubCategory?.Name</h5>
          </div>
          <div class="border-bottom pb-5">
            <span>@Model.Product.Description</span>
          </div>


          <div class="overflow-x-auto">
            <table class="table">
              <tbody>
                <tr>
                  <td>Product Code:</td>
                  <td>@Model.Product.Id</td>
                </tr>
                <tr>
                  <td>Price:</td>
                  <td>@Model.Product.Price</td>
                </tr>
                <tr>
                  <td>Store:</td>
                  <td>@Model.Product.Store</td>
                </tr>
                <tr>
                  <td>Star:</td>
                  <td>@Model.Product.Star</td>
                </tr>
                <tr>
                  <td>State:</td>
                  <td>@(Model.Product.State ? "Alındı" : "Alınmadı")</td>
                </tr>
                <tr>
                  <td><a class="btn btn-sm" href="@Model.Product.Link">Web sitesine git</a></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class=" mt-[100px]">
    <h2 class="text-2xl font-bold text-dark text-center">Ürünler</h2>
    <div class="divider w-40 mx-auto"></div>
    <vc:products-list></vc:products-list>
  </div>

</div>